#add-categoria {
    width: 50%;
    margin: 20px auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 4px 4px 10px 0px;
    border-radius: 5px;
}

#categoria-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding: 2rem;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 4px 4px 10px 0px;
    border-radius: 5px;
}