#movimentacao {
    width: 50%;
    padding: 10px;
    margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3rem 1.0rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}