#resumo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 30px auto;
  padding: 10px;
  box-shadow: 4px 4px 10px 0;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}

#entradas {
  color: green;
  font-weight: bold;
}

#saidas {
  color: red;
  font-weight: bold;
}

#positivo {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
}

#negativo {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
}